/* NOTICE: change colors to match images */
body {
    background-color: #d4b993;
    font-family: 'Roboto', tahoma, arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a2a1c;
}
a {
    font-size: 1.125em;
    text-decoration: none;
    color: #cabca8;
}
a:hover {
    text-decoration: underline;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 2.25rem;
}

.header, .hero, .footer {
    padding: 0% 22%;
    background-color: #3a2a1c;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left {
    font-size: 1.125em;
    font-weight: bold;
    padding-right: 5%;
}
.hero {
    padding-top: 1.5%;
    padding-bottom: 3%;
    gap: 1.25rem;
}
.heroleft h1 {
    font-size: 3em;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: -0.313rem;
}
.heroleft {
    font-size: 1.125em;
    color: #cabca8;
}
#heroimg {
    flex-shrink: 0;
    max-width: 29.568vw;
    border-radius: 12px;
    -webkit-box-shadow: 11px 10px 9px -1px #181818c9;
    -moz-box-shadow: 11px 10px 9px -1px #181818c9;
    box-shadow: 11px 10px 9px -1px #181818c9;
}
.donation {
    background-color: #b38850;
    color: #F9FAF8;
    font-weight: bold;
    text-decoration: none!important;
    font-size: 1em;
    padding: 0.313rem 1.25rem;
    border-radius: 8px;
}
.donation:hover {
    border: 1px solid #F9FAF8;
}

.capybaras {
    padding: 0% 22%;
}
.capybaras h2 {
    font-size: 2.25em;
    font-weight: bold;
    text-align: center;
}
.card-container {
    display: flex;
    gap: 1.875rem;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card {
    text-align: center;
    font-size: 1.125em;
}
.card:hover {
    font-weight: bold;
}
.cardimg {
    margin-bottom: -0.313rem;
    max-width: 10.938rem;
    border-radius: 12px;
    border: 3px solid #b38850;
    -webkit-box-shadow: 11px 10px 9px -1px #181818c9;
    -moz-box-shadow: 11px 10px 9px -1px #181818c9;
    box-shadow: 11px 10px 9px -1px #181818c9;
}

.quotes {
    padding: 3% 30%;
    background-color: #cabca8;
}
.quote-item {
    margin-bottom: 0.625rem;
}
.quote {
    font-size: 2.25em;
    font-style: italic;
}
.author {
    font-size: 1.5em;
    font-weight: bold;
    text-align: right;
}

.call-to-action {
    padding: 0% 28%;
    margin-top: 3%;
    margin-bottom: 3%;
}
.cta-container {
    background-color: #b38850;
    padding: 0.938rem 1.875rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    text-decoration: none!important;
    color: #F9FAF8;
}
.cta-container h3 {
    margin-bottom: -0.625rem;
}
.cta-container a {
    border: 1px solid #F9FAF8;
}

.footer {
    padding: 2% 0%;
    display: flex;
    justify-content: space-evenly;
}